@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    background-image: url(bilder/bakgrunn.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 80px 0px 80px 0px;


}

/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

img {
    width: 100%;
}

/* End minimal CSS Reset */

.bhead {

    font-size: 60px;
    text-align: center;
    color: rgb(222, 164, 17);
    margin: 25px 0px 0px 0px;
}

.bjp {
    font-size: 35px;
    margin: 35px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

#sumEl {
    margin: 20px;
}

#dealersKort {
    margin: 30px 0px 30px 0px;

}

#dealersSum {
    margin: 0px 0px 30px 0px;
}

#cardEl {
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;

}

button {
    width: 250px;
    background: goldenrod;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 8px 15px 15px rgba(0, 0, 0, 0.302);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    border-color: rgba(222, 164, 17, 0.8);
    background-color: rgb(232, 175, 32);
    width: 255px;
    height: 72px;
}

.spillbut {
    justify-content: center;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    animation: fadeIn 2s ease forwards;
    border: 5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.193);
    margin: 20px;
    padding: 30px;
    width: 70%;
    max-width: 1000px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
   
}

.scorediv, .dealerdiv {

    width: 250px;
    background: goldenrod;
    height: 70px;
    font-size: 15px;
    border-radius: 10px;
    margin: 25px 0px 5px 0px;
    box-shadow: 8px 15px 15px rgba(0, 0, 0, 0.302);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


